body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url("tlo/tactile_noise.png");
}
a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}
.container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}
.register
{
	height:600px;
	width:700px;
	border-radius:10px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#3c4091;
	position:static;
	-webkit-box-shadow: 1px 1px 1px 2px #111214;
	-moz-box-shadow: 1px 1px 1px 2px #111214;
	box-shadow: 1px 1px 1px 1px #111214;
}
#title{
	text-align:center;
	font-size:38px;
	padding:10px;
}
#subtitle{
	text-align:center;
	font-size:18px;
}
.input
{
	margin-top: 40px;
	margin-left:200px;
	width:300px;
	height:50px;
	color:#d92f03;
	box-sizing:border-box;
	outline:none;
	font-size:24px;
	-webkit-box-shadow: 0px 0px 1px 2px #20206b;
	-moz-box-shadow: 0px 0px 1px 2px #20206b;
	box-shadow: 0px 0px 1px 1px #20206b;
}
#email
{
	border:none;
}
.input:hover
{
	color:#c2470a;
}
.input:focus
{
	-webkit-box-shadow: 2px 2px 2px 2px #20206b;
	-moz-box-shadow: 2px 2px 2px 2px #20206b;
	box-shadow: 2px 2px 2px 1px #20206b;
}
.indexButton
{
	width:300px;
	height:50px;
}
.indexButton:hover
{
	cursor:pointer;
	background-color:#f2923f;
	-webkit-box-shadow: 2px 2px 2px 2px #20206b;
	-moz-box-shadow: 2px 2px 2px 2px #20206b;
	box-shadow: 2px 2px 2px 1px #20206b;
}
#register
{
	position:relative;
	margin-top:50px;
	margin-left:200px;
	margin-bottom:0;

}
#signIn
{
	position:relative;
	margin-top:20px;
	margin-left:200px;
	margin-bottom:0;
}
.menu
{
	display:none;
	height:600px;
	width:700px;
	border-radius:10px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#3c4091;
	position:static;
	-webkit-box-shadow: 1px 1px 1px 2px #111214;
	-moz-box-shadow: 1px 1px 1px 2px #111214;
	box-shadow: 1px 1px 1px 1px #111214;
}
.tileLeft
{
	float:left;
	width:250px;
	height:220px;
	background: radial-gradient(#5c6ed1 10%,#2c46d4 50%,#0a28c9 80%);
	border: 1px solid #770000;
	margin-left: 50px;
	margin-top: 50px;
	border-radius:5px;
	-webkit-box-shadow: 10px 1px 1px 2px #393d54;
	-moz-box-shadow: 10px 1px 1px 2px #393d54;
	box-shadow: 10px 1px 1px 1px #393d54;
}
#summary
{
	margin-top:60px;
}
.tileRight
{
	float:left;
	width:250px;
	height:220px;
	/*position:relative;*/
	background: radial-gradient(#5c6ed1 10%,#2c46d4 50%,#0a28c9 80%);
	border: 1px solid #770000;
	margin-left: 398px;
	margin-top: -222px;
	border-radius:5px;
	-webkit-box-shadow: 10px 1px 1px 2px #393d54;
	-moz-box-shadow: 10px 1px 1px 2px #393d54;
	box-shadow: 10px 1px 1px 1px #393d54;
}
#setup
{
	position:relative;
	margin-bottom:50px;
	margin-top:-222px;
}
.overlay
{
	position:relative;
	width:250px;
	height:220px;
}
.menuLink
{
	position:relative;
	display:block;
	width:250px;
	height:140px;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
	font-size:24px;
	letter-spacing:2px;
	padding-top:40px;
	padding-bottom:40px;
	color:white;
}

.overlay .linkOverlay 
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #101621;
    opacity: 0.0;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
	color:white;
	margin-top: 0px;
	padding-bottom:5px;
}
.linkOverlay p
{
	margin-bottom: 0px;
	padding-top: 5px;
	margin-top: 0px;
}
.overlay:hover .linkOverlay
{
	opacity:0.8;
}
.textInput
{
	margin-left:15px;
	min-width:250px;
	padding:0;
	border:0;
	min-height:20px;
}
.textInput:focus
{
	color:#d92f03;
	-webkit-box-shadow: 0px 0px 1px 2px #20206b;
	-moz-box-shadow: 0px 0px 1px 2px #20206b;
	box-shadow: 0px 0px 1px 1px #20206b;
}
#dateExpence
{
	margin-left:29px;
}
.expenceContainer
{
	display:none;
	height:600px;
	width:700px;
	border-radius:10px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#3c4091;
	position:static;
	-webkit-box-shadow: 1px 1px 1px 2px #111214;
	-moz-box-shadow: 1px 1px 1px 2px #111214;
	box-shadow: 1px 1px 1px 1px #111214;
}
.expencesButton
{
	margin-left:15px;
	margin-right:15px;
	margin-top:0px;
	height:45px;
	width:195px;
	background-color:blue;
	color:white;
	font-size:24px;
	cursor:pointer;
	text-decoration:none;
	display:block;
	float:left;
}
.row
{
	margin: 20px 10px;
	font-size:18px;
	color:white;
	min-width:600px;
}
.kol
{
	display:inline-block;
	margin: 0px 10px;
	min-width:190px;
}
.incomesContainer
{
	display:none;
	height:600px;
	width:700px;
	border-radius:10px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#3c4091;
	position:static;
	-webkit-box-shadow: 1px 1px 1px 2px #111214;
	-moz-box-shadow: 1px 1px 1px 2px #111214;
	box-shadow: 1px 1px 1px 1px #111214;
}
#commentIncome
{
	margin-bottom:210px;
}
.setupContainer
{
	display:none;
	height:600px;
	width:700px;
	border-radius:10px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#3c4091;
	position:static;
	-webkit-box-shadow: 1px 1px 1px 2px #111214;
	-moz-box-shadow: 1px 1px 1px 2px #111214;
	box-shadow: 1px 1px 1px 1px #111214;
}
.functionList
{
	width:200px;
	height:552px;
	float:left;
	border-radius:10px;
}
.setupFunction
{
	width:500px;
	height:542px;
	background:#917f70;
	float:left;
	border-radius:10px;
}
.listPos:first-child
{
	border-top:solid 1px #bd9777;
}
.listPos
{
	width:190px;
	padding:5px;
	border-bottom:solid 1px #bd9777;
	color:white;
}
.listPos:hover
{
	cursor:pointer;
	color:#c2470a;
}
#loginSetup
{
	display:none;
}
h4
{
	color:white;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:40px;
	font-size:24px;
}
.inputtextChange
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:40px;
	width:300px;
	height:50px;
	color:#d92f03;
	box-sizing:border-box;
	outline:none;
	font-size:24px;
	-webkit-box-shadow: 0px 0px 1px 2px #20206b;
	-moz-box-shadow: 0px 0px 1px 2px #20206b;
	box-shadow: 0px 0px 1px 1px #20206b;
}
.inputtextChange:focus
{
	-webkit-box-shadow: 2px 2px 2px 2px #20206b;
	-moz-box-shadow: 2px 2px 2px 2px #20206b;
	box-shadow: 2px 2px 2px 1px #20206b;
}
.setupButton
{
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	height:45px;
	width:195px;
	background-color:blue;
	color:white;
	font-size:24px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}
.changeButton
{
	height: 30px;
	width: 115px;
	margin-left: 7px;
}
.changeButton:hover
{
	cursor:pointer;
	background-color:#f2923f;
	-webkit-box-shadow: 2px 2px 2px 2px #20206b;
	-moz-box-shadow: 2px 2px 2px 2px #20206b;
	box-shadow: 2px 2px 2px 1px #20206b;
}
.changeButton2
{
	height: 30px;
	width: 115px;
	margin-left: 7px;
	margin-top: 17px;
	outline: none;
	float: left;
}
.changeButton2:hover
{
	cursor:pointer;
	background-color:#f2923f;
	-webkit-box-shadow: 2px 2px 2px 2px #20206b;
	-moz-box-shadow: 2px 2px 2px 2px #20206b;
	box-shadow: 2px 2px 2px 1px #20206b;
}
#expenceMenuSetup
{
	width:500px;
	height:485px;
	background:#917f70;
	float:left;
	border-radius:10px;
	display:none;
}
#addPayment
{
	width: 150px;
	height: 25px;
	float:left;
	font-size:18px;
}
#buttonDiv
{
	position:absolute;
	top:480px;
	left:245px;
}
#expenceMethodDelete
{
	float:left;
	width:190px;
}
.addedMethod
{
	display:inline-block;
	min-width:180px;
	margin:0px 10px;
}